<h1>Welcome - Sign in!</h1>

<p>Don't have an account? <a href="/signup">Signup Now!</a></p>

{{#problem}}
<p><strong>Sorry</strong> there was a problem with your username and/or password.</p>
{{/problem}}
<form class="" action="/auth" method="post">
  <input type="text" name="username" value="" placeholder="Your Username">
  <input type="password" name="password" value="" placeholder="Choose a Password">

  <input type="submit" name="" value="Submit">

</form>
