<h1>Welcome</h1>


<form class="" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="Your Username">

  <input type="password" name="password" value="" placeholder="Choose a Password">

  <input type="submit" name="" value="Submit">

</form>
