<h1>Games!</h1>

<div class="search">
  <form class="" action="/" method="get">
    <input type="text" name="name" value="{{searchName}}" placeholder="Search for Games">

    <input type="number" name="year" value="{{searchYear}}" placeholder="Specify Year">

    <input type="submit" name="" value="Search!">

  </form>
</div>

<nav>
  <a href="/games/new">New Game</a>

  Games in: <a href="/?year=1982">1982</a>

</nav>

<p class="games-found"></p>

<div class="games">
</div>

<form class="live-submit" action="" method="">
  <input type="text" id="game-name" name="name" value="" placeholder="name">
  <input type="number" id="game-year" name="year" value="" placeholder="year">
  <input type="text" id="game-imageUrl" name="imageUrl" value="" placeholder="imageUrl">
  <input type="link" id="game-link" name="link" value="" placeholder="link">

  <input type="submit" name="" value="Save that game!">
</form>
